@using Blog.WebUI.Extensions.Enum
@using Blog.WebUI.Helpers.Enum
@using Blog.WebUI.Helpers.HelpersToView
@model Blog.WebUI.ViewModel.FeedBack.FeedbackToDisplayViewModel

@{
    ViewBag.Title = "Here you can feedback.";
}
    @using (Html.BeginForm("ShowFeedback", "Feedback"))
    {
        <div class="form-group row">
            @Html.LabelFor(m => Model.Author, "Author: ", new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => Model.Author, new { @class = "form-control", type = "text", placeholder = "Type your name" })
                @Html.ValidationMessageFor(m => Model.Author)
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Gender: </legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        @Html.RadioButtonFor(m => Model.Gender, Gender.Male, new { @class = "form-check-input", value = Gender.Male, @checked = "checked", id = $"gender{Gender.Male}" })
                        @Html.LabelFor(g => Model.Gender, "Male", new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(m => Model.Gender)
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.Gender, Gender.Female, new { @class = "form-check-input", value = Gender.Male, id = $"gender{Gender.Male}" })
                        @Html.LabelFor(g => Model.Gender, "Female", new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(m => Model.Gender)
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-2">What would you change on the web-site?</div>
            <div class="col-sm-10">
                @{for (int i = 0; i < Model.Improvements.Count; i++)
                    {
                        <div class="form-check">
                            @Html.CheckBoxFor(model => Model.Improvements[i].IsChecked, new { @class = "form-check-input" })
                            @Html.HiddenFor(model => Model.Improvements[i].ImprovementId)
                            @Html.HiddenFor(model => Model.Improvements[i].Display)
                            @Html.LabelFor(model => Model.Improvements[i].IsChecked, $"{Model.Improvements[i].Display}", new { @class = "form-check-label" })
                            @Html.ValidationMessageFor(model => Model.Improvements[i].IsChecked)
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary float-left">Send feedback</button>
            </div>
        </div>
        <div class="features">
            <p> 
                We are trying to improve the blog.
                Thanks for your feedback in advance.
                There are features which have been realized thanks to you!
            <p>
            <div class="list-features">
                @Html.CreateList(new string[] { "Date published has been added", "Possibility to send review has been added" }, ListTags.ul)
            </div>
            <div class="list-features">
                @Html.CreateList(new string[] { "Navigation menu has been improved", "Logo website has been created" }, ListTags.ol)
            </div>
        </div>
        
    }

